.underline{
    display: block;
    width: 400px;
    height: 2px;
    background: grey;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    margin:27px auto;

}
.question{
    
    align-items: center;
    text-align: left;
    display: flex;
    margin:auto;
    justify-content: space-between;
    max-width: 400px;
    padding-top: 2%;
    

}
.faqs-btn{
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    display: flex;
    width: 100px;
    height: 30px;
    background: #3457D5  ;
    border: none;
    border-radius: 2px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-1{
    position: relative;
    display: inline-block;
}
.dropdown-content {

    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 450px;
    min-height: 120px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}
.dropdown-content-1 {

    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 450px;
    min-height: 120px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;

}
.dropdown-content-hide {
    display: none;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 450px;
    min-height: 120px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    
}
.dropdown img{
cursor: pointer;
}



/*Media query*/

@media screen and(max-width: 1000px) {
    .faqs{
    align-items: center;
    justify-content: center;
    padding: auto;
    }
    .question{
   align-items: center;
   justify-content: center;
   margin: auto;
   max-width: 100%;
    }
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .question p{
        margin-top: 30px;
    }
    .head-first{
        margin-bottom: 40px;
    }
}
